@font-face
{
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body
{
    background-color: #44bcc5;
    color: rgb(16, 34, 138);
    font-size: 28px;
    font-family: 'Chivo Mono', monospace;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header
{
    font-size: 70px;
    font-family: Rocher;
}

#board
{
    width: 900px;
    background-color: bisque;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, 300px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.box
{
    color: brown;
}