@font-face
{
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body
{
    background-color: bisque;
    font-size: 28px;
    font-family: 'Chivo Mono', monospace;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header
{
    font-size: 70px;
    font-family: Rocher;
    margin-top: 40px;
    margin-bottom: 20px;
}

#board
{
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(3, 180px);
    grid-template-columns: repeat(3, 180px);
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(10px);
}   

.box
{
    color: rgb(218, 150, 24);
    display: flex;
    justify-content: center;
    content-visibility: hidden;
    flex-direction: column;
    font-size: 100px;
    border: 10px rgba(88, 65, 47, 0.925) solid;
}

.box:hover {
    content-visibility: visible;
}

.boxClicked
{
    color: rgb(218, 150, 24);
    display: flex;
    justify-content: center;
    content-visibility: visible;
    flex-direction: column;
    font-size: 100px;
    border: 10px rgba(88, 65, 47, 0.925) solid;
}

#end_message
{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 70%;
    position: fixed;
    top: 220px;
    visibility: hidden;
    
}