@font-face
{
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body
{
    background-color: #44bcc5;
    color: rgb(16, 34, 138);
    font-size: 28px;
    font-family: 'Chivo Mono', monospace;
    margin-left: auto;
    margin-right: auto;
}

#main
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header
{
    font-size: 70px;
    font-family: Rocher;
    margin-top: 40px;
    margin-bottom: 20px;
}

#board
{
    width: fit-content;
    background-color: bisque;
    display: grid;
    grid-template-rows: repeat(3, 230px);
    grid-template-columns: repeat(3, 230px);
    margin-left: auto;
    margin-right: auto;
}

.box
{
    color: brown;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 100px;
    border: 3px brown solid;
}